<%- include ("partials/header") %>
<div class="container">
	<h1 class="display-5 my-3">
		Contact
	</h1>
	<p class="lead">
		Follow us on Twitter <a href="https://twitter.com/Broumvirate">@Broumvirate</a>, and <a href="https://www.youtube.com/channel/UCUSu-jMpoqqiTv3sOA9fSgA">subscribe to our Youtube Channel</a>
	</p>
	<p class="lead">
		Website enquiries and BHotM submissions can be sent to <a href="mailto:hen.bagle@gmail.com">hen.bagle@gmail.com</a>
	</p>
	<p class="lead">
		All other enquiries can be sent to <a href="mailto:broumviratemediallc@gmail.com">BroumvirateMediaLLC@gmail.com</a>
	</p>
</div>


<%- include ("partials/footer") %>