<%- include ("partials/header") %>
<div class="container">
	<h1 class="display-4 text-center">Rock Game</h1>
	<div class="d-flex justify-content-center align-items-center">
		<iframe class="d-block" src="game/rockgame"></iframe>
	</div>
</div>
<%- include ("partials/footer") %>