<%- include ("partials/header") %>

<!--Get outta my website Jacob -->

<header class="jumbotron mb-0">
    <div class="container">
        <h1 class="display-4">Welcome to The Broumvirate</h1>
        <p class="lead">Like The Triumvirate but we're bros.</p>
    </div>
</header>

<div
    id="carouselFrontPage"
    class="carousel slide m-0 pt-4 pb-2"
    data-ride="carousel"
>
    <div class="container">
        <div class="carousel-inner m-0">
            <div class="carousel-item active my-2">
                <h4>"Epic song! Bravo!!!"</h4>
                <p class="bm-carousel-q">- Matt Farley, (603) 644-0048</p>
                <p></p>
            </div>

            <div class="carousel-item my-2">
                <h4>"Nothing was happening but you were all laughing."</h4>
                <p class="bm-carousel-q">- Anna F.</p>
                <p></p>
            </div>

            <div class="carousel-item my-2">
                <h4>"Will you guys take a picture with my daughter?"</h4>
                <p class="bm-carousel-q">- Some Rando</p>
            </div>
            <div class="carousel-item my-2">
                <h4>
                    "I was with you guys for 30 seconds and I already wanted to
                    cry."
                </h4>
                <p class="bm-carousel-q">- Anna F.</p>
            </div>
            <div class="carousel-item my-2">
                <h4>"Elton John would be better if his name was Alden."</h4>
                <p class="bm-carousel-q">- Alden</p>
            </div>
            <div class="carousel-item my-2">
                <h4>
                    "Ah yes, my least favourite friend group: Ben's friends."
                </h4>
                <p class="bm-carousel-q">- Dream Megan</p>
            </div>
            <div class="carousel-item my-2">
                <h4>
                    "THIS IS INCREDIBLE! This is exactly the kind of content I
                    hope for on the internet."
                </h4>
                <p class="bm-carousel-q">- Siobhan Flanagan</p>
            </div>

            <div class="carousel-item my-2">
                <h4>
                    "the way they're in some sort of??? unfinished cabin??? but
                    it looks like they've been living there gaming alone for
                    months with no supervision????? every single part of this
                    video is such an enigma"
                </h4>
                <p class="bm-carousel-q">- Anonymous Artemis Fowl Fan</p>
            </div>
        </div>
    </div>
    <a
        class="carousel-control-prev"
        href="#carouselFrontPage"
        role="button"
        data-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a
        class="carousel-control-next"
        href="#carouselFrontPage"
        role="button"
        data-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container mt-4">
    <div class="row d-flex justify-content-around">
        <div class="card col-md-5 p-0 m-3">
            <img
                class="card-img-top mx-0 bm-f-card-top"
                src="https://opinionstage-res.cloudinary.com/image/upload/c_lfill,dpr_1.0,f_auto,fl_lossy,q_auto:good,w_1300/v1/polls/szhzuizgypc5r4orlxsh"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">Sand Politics</h5>
                <p class="card-text">
                    Should we ingest sand? Or does sand deserve the same rights
                    that humans enjoy?
                </p>
                <a
                    href="https://www.opinionstage.com/riddians4president/what-are-your-sand-politics"
                    class="btn btn-primary"
                    >Take the Quiz</a
                >
            </div>
        </div>
        <div class="card col-md-5 p-0 m-3">
            <img
                class="card-img-top mx-0 bm-f-card-top"
                src="/img/artemisbanner.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">Artemis Fowl Remake</h5>
                <p class="card-text">
                    We've gone viral in the Artemis Fowl fandom! Check out our
                    shot for shot remake of the movie.
                </p>
                <a
                    href="https://www.youtube.com/watch?v=EMGa53miavE"
                    class="btn btn-primary"
                    >Watch Now</a
                >
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer") %>
