<%- include ("partials/header") %>

<header class="jumbotron">
	<div class="container">
		<h1 class="display-4">Welcome to The Broumvirate</h1>
		<p class="lead">This will be our tagline once I can think of one.</p>
	</div>
</header>

<%- include ("partials/footer") %>