<%- include ("partials/header") %>
<div class="container text-center">
	<h1 class="mt-4">Log In</h1>
	<div class="row d-flex justify-content-around mt-3">
		<div class="col-md-6">
			<form action="/login" method="POST">
				<input class="form-control my-2" type="email" name="username" placeholder="Email" required>
				<input class="form-control my-2" type="password" name="password" placeholder="Password" required>
				<input type="hidden" name="redirect" value="<%if(redirect){%><%=redirect%><%}else{%>/<%}%>">
				<button class="btn btn-primary mt-3">Submit</button>
			</form>
		</div>
	</div>
</div>

<%- include ("partials/footer") %>