<%- include ("partials/header") %>
<div class="container-fluid mx-0">
	<div class="jumbotron mx-0 text-center bg-light">
		<h1>
			Broumvirate Records
		</h1>
		<h4 class="text-muted">Our music division</h4>
	</div>
	
	<div class="container pb-4">
	<div class="row justify-content-between">
		<div class="col-12 col-md-6 col-lg-4">
			<div class="card text-white bg-dark m-3">
				<img src="/img/comeSailAway.jpg" class="card-img-top bm-music-card" alt="Finger Blastin' Good Album Art">
				<div class="card-img-overlay">
					<div class="hover-icons text-center">
						<a href="https://music.apple.com/us/album/come-sail-away-single/1490642400?app=music&ign-mpt=uo%3D4"><i class="fab fa-itunes-note mr-5"></i></a>
						<a href="https://open.spotify.com/track/7IGBD1EMHWTZRIBaSbaG3T"><i class="fab fa-spotify"></i></a>
					</div>
				</div>
				<div class="card-body">
					<h5 class="card-title">Come Sail Away</h5>
					<h6 class="card-subtitle text-muted">BHotM Winner Dec. 2019</h6>
				</div>
			</div>
		</div>
		
		<div class="col-12 col-md-6 col-lg-4">
			<div class="card text-white bg-dark m-3">
				<img src="/img/fbg.png" class="card-img-top bm-music-card" alt="Finger Blastin' Good Album Art">
				<div class="card-img-overlay">
					<div class="hover-icons text-center">
						<a href="https://itunes.apple.com/us/album/finger-blastin-good-single/1444313725?uo=4&app=music&at=1001lry3&ct=dashboard"><i class="fab fa-itunes-note mr-5"></i></a>
						<a href="https://open.spotify.com/track/7bsgQSE8M6HWT49WawzsU7"><i class="fab fa-spotify"></i></a>
					</div>
				</div>
				<div class="card-body">
					<h5 class="card-title">Finger Blastin' Good</h5>
					<h6 class="card-subtitle text-muted">Our breakaway hit</h6>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<div class="card text-white bg-dark m-3">
			<img src="/img/aldensucks.png" class="card-img-top bm-music-card" alt="Finger Blastin' Good Album Art">
			<div class="card-img-overlay">
				<div class="hover-icons text-center">
					<a href="/downloads/alden_sucks.mp3" download><i class="fas fa-arrow-down"></i></a>
				</div>
			</div>
			<div class="card-body">
    			<h5 class="card-title">Alden Sucks</h5>
    			<h6 class="card-subtitle text-muted">The Original</h6>
			</div>
		</div>
		</div>
	</div>
</div>
<%- include ("partials/footer") %>