<%- include ("partials/header") %>

<div id="app"></div>

<!-- Load our React component. -->
<script src="/dist/<%=reactScript%>.js" type="module"></script>

<%- include ("partials/footer") %>
